* {
  margin: 0;
  padding: 0;
}

body {
  color: rgb(10, 233, 233);
  font-family: sans-serif;

  border-top: 10px solid #1098ad;
  position: relative;
}
h1 {
  color: #0e4e8d;
  font-size: 100px;
  text-align: center;
}

h2 {
  color: #318ce7;
  font-size: 75px;
  text-align: center;
}

h3 {
  color: #318ce7;
  font-size: 50px;
  text-align: center;
}

.container {
  /* background-color: antiquewhite; */
}

.heading {
  background-color: aqua;
}
.summary {
}
.skills {
}
.projects {
}
.workExperince {
}
.acdemicQualifications {
}
.certificationsTraining {
}
.personalDetails {
}
