* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  position: relative;
  text-align: center;
  color: #ffff;
}

h1,
h2,
h3 {
  padding-top: 10px;
  font-family: "Raleway", sans-serif;
}

h1 {
  color: #0e4e8d;
  font-size: 100px;
}

h2 {
  color: #318ce7;
  font-size: 45px;
}

h3 {
  color: #318ce7;
  font-size: 25px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

#audio{
  /* display: none; */
}

.b-video{
  /* background-image: linear-gradient(rgba(50, 11, 223, 0.3),rgba(12, 3, 20, 0.795)); */
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -100;
}

@media (max-aspect-ratio: 16/9)
{
  .b-video{
    width: auto;
    height:100% ;
  }
}


@media (min-aspect-ratio: 16/9)
{
  .b-video{
    width: 100%;
    height:auto ;
  }
}

.heading em {
  word-spacing: 10px;
  letter-spacing: 2px;
  line-height: 2em;
}
.heading {
  /*  */
}
.summary {
  border-bottom: 1.5px solid #1098ad;
}


.projects {
  border-bottom: 1.5px solid #1098ad;
}
.projects ol{
  list-style: none;
}
.workExperince {
  border-bottom: 1.5px solid #1098ad;
}
.workExperince ol {
  list-style: none;
}
.acdemicQualifications {
  border-bottom: 1.5px solid #1098ad;
}
.acdemicQualifications ol{
list-style: none;
}
.certificationsTraining {
  border-bottom: 1.5px solid #1098ad;
}
.certificationsTraining ol{
  list-style: none;
}
.personalDetails {
  border-bottom: 1.5px solid #1098ad;
}
.personalDetails ol {
list-style: none;
}

/* -------------------------------------------------------------------------------------Skills------------------------------------------------------------------------- */
.skills {
  border-bottom: 1.5px solid #1098ad;
  display: flex;
}

.skills img,
.contact img{
  width: 50px;
  height: auto;
  padding:5px 5px;
  
}

.skills div{
  padding: 15px 0 15px 0;
  

}

.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}