// --------------------------------------------
// Angular Material Theming
// --------------------------------------------
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin defines CSS variables used for styling Material components
// according to Material 3 design spec.
// Learn more: https://material.angular.dev/guide/theming
@use "@angular/material" as mat;

// Import Google Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

// --------------------------------------------
// Reset & Global Styles
// --------------------------------------------
*,
*:after,
*::before {
  margin: 0; // Remove default margins
  padding: 0; // Remove default padding
  box-sizing: border-box; // Use border-box sizing
}

html {
  // Apply Angular Material theme variables
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );

  font-size: 62.5%; // 1rem = 10px
}

body {
  color-scheme: light; // Default light theme (can switch to dark)
  background-color: var(
    --mat-sys-surface
  ); // Background using Material system variables
  color: var(
    --mat-sys-on-surface
  ); // Text color using Material system variables
  font: var(--mat-sys-body-medium); // Default font from Material system
  height: 100%;
}

// CSS variables for custom components / effects
:root {
  --bg-color: hsl(149, 94%, 46%); // Background for typing effect
  --typewriterSpeed: 9s; // Duration of typing effect
  --typewriterCharacters: 24; // Number of characters for typing steps
}
